


  
html
  background: $bg-site

.page
  position: relative
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  min-height: 100vh

.header
  position: fixed
  left: 0
  top: 0
  right: 0
  width: 100%
  z-index: +1

.webgl
  position: fixed
  left: 0
  top: calc(4.5rem + 6px)
  right: 0
  background: $bg-block
  border-radius: $border-radius
  flex-grow: 1
  height: calc(100vh - 4.5rem - 8px)

.block
  background: $bg-block
  border-radius: $border-radius
  overflow: hidden