


  
html
  background: $bg-site

.page
  position: relative
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  min-height: 100vh

header
  position: fixed
  left: 50%
  top: 0
  transform: translateX(-50%)
  width: 100%
  max-width: calc(1440px + 2rem)
  z-index: +1
  padding: 1rem 1rem 0 1rem
  margin-left: auto
  margin-right: auto

.header
  position: relative
  border: $border-width solid currentColor
  background: $color-white
  color: black
  text-transform: none
  font-family: Space SemiBold
  font-size: 1.33rem
  line-height: 1
  border-radius: $border-radius

.webgl
  position: fixed
  left: 0
  top: 0
  right: 0
  background: $bg-block
  border-radius: $border-radius
  flex-grow: 1
  height: 100vh

.block
  background: $bg-block
  border-radius: $border-radius
  overflow: hidden

.btn-Container
  width: 100%
  display: flex
  justify-content: center

.btn
  color: black
  border: $border-width solid currentColor
  padding: 1rem 4rem
  border-radius: $border-radius
  cursor: pointer
  letter-spacing: 1.5%
  // transition: background .1s ease-in
  span
    color: black
    text-transform: none
    font-family: Space SemiBold
    font-size: 1.33rem
    line-height: 1
  &:hover
    background: currentColor

// Colors
.red
  color: $color-red !important

.green
  color: $color-green !important

.blue
  color: $color-blue !important